.quantity-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    gap: 32px;
    background-color: var(--color-light-grayish-blue);
}

.minus, .amount, .plus {
    align-self: center;
    justify-self: center;
    border: none;
}

.add-to-cart-button {
    display: flex;
    border: none;
    color: var(--color-white);
    border-radius: 10px;
    background-color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}