.navigation-container {
    display: flex;
    flex-direction: row;
    width:75%;
    margin-top: 32px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    z-index: 1;
}

.navigation-container a{
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    text-decoration: 3px underline var(--color-white);
    text-underline-offset: 38px;
}

.navigation-container a:hover, 
.navigation-container a:active{
    text-decoration: 3px underline var(--color-primary);
    transition: ease-in-out 0.1s;
}

.navigation-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: -16px;
}

.cart-icon {
    background-color: transparent;
    border: none;
    background: none;
}

sup {
    margin-top: -16px;
    margin-left: -10px;
    width: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.avatar {
    height: 48px;
}

hr {
    width: 78%;
    border: 1px solid var(--color-light-grayish-blue);
    margin-top: 24px;
    margin-bottom: 72px;
}

a {
    text-decoration: none;
    color: var(--color-dark-grayish-blue);
}